.row{
    display: flex;
    width: 100%;
    border:1px solid #000000
}

.col2{
    width: 50%;
    border: 1px solid #FF0000
}

.col4{
    width: 25%;
    border: 1px yellow
}

@media screen and (max-width:700px) { 
    .col4{
        width: 50%;
    }
    }
